.icon {
  animation: showup 8s infinite;
}

@keyframes showup {
  0% {
    opacity: 0;
    scale: 3;
  }
  20% {
    opacity: 1;
    scale: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.container {
  width: 0px;
  animation: reveal 8s infinite;
}
@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 170px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 170px;
  }
}
.link {
  margin-left: -355px;
  animation: sildein 8s infinite;
}
@keyframes sildein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}
