@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap");


@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@layer base{
    img{
        width: auto;
        height: auto;
    }
}

body{
    background: rgba(244,238, 217, 100%);
    font-family: "Amiri", serif;
    
}

.left-leaf{
    opacity:20% ;
    position: fixed;
    top:373.96px;
    right: 0;
    transform: rotate(30deg);
    width: auto;
    z-index: 0;
    user-select: none;
}
.right-leaf{
    opacity:20% ;
    position: fixed;
    bottom: -89.98px;
    left: 0;
    transform: rotate(200deg);
    width: auto;
    z-index: 0;
    user-select: none;

}